<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="~{layouts/master::head('Crowd Donating | Home')}" />
<link th:href="@{/css/shortcodes/blog.css}" rel="stylesheet">
</head>
<body id="top" class="has-header-search">
	<th:block th:replace="~{layouts/master::header}" />

	<div class="charity-main-wrapper">
		<div class="charity-subheader-two">
			<span class="charity-footer-transparent"></span>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="charity-page-title">
							<h1>Event List</h1>
						</div>
						<ul class="charity-breadcrumb">
							<li><a th:href="@{/}">Home</a></li>
							<li class="active"><a th:href="@{/events}">Event List</a></li>

						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="charity-main-content">

			<!--// Main Section \\-->
			<div class="charity-main-section">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<figure class="charity-event-thumb">
								<img th:src="@{'/images/event/' + ${event.image}}" alt="" />
							</figure>
						</div>
						<div class="col-md-12">
							<div class="charity-event-rich-editor">
								<h3>
									<a th:href="@{'/events/' + ${event.id}}"
										th:text="${event.title}"></a>
								</h3>
								<hr />
							</div>

							<ul class="charity-event-option-two">
								<li><i class="fa fa-calendar-o"></i>
									<h6>Event date :</h6>
									<p
										th:text="${#calendars.format(event.plannedDate, 'MMM dd, yyyy')}"></p>
								</li>
								<li><i class="fa fa-institution"></i>
									<h6>Assocation name :</h6>
									<p th:text="${event.association.name}"></p></li>
							</ul>
							<div class="charity-countdown">
								<span class="countdown-transparent"></span>
								<div id="charity-countdown"></div>
								<a href="404.html" class="charity-join-btn">I Am Joining
									(12)</a>
							</div>
							<div class="charity-event-rich-editor">
								<h2 class="charity-section-heading">Event Discription</h2>
								<blockquote class="display-block" th:text="${event.description}"></blockquote>
							</div>


							<div class="charity-tags-wrap">
								<div class="charity-post-tags">
									<div class="charity-tags">
										<span>Tags:</span> <a th:href="@{/}">charity </a> <a
											th:href="@{../cases}">/ donation</a>
									</div>
									<div class="charity-blog-social">
										<span>Share:</span>
										<ul>
											<li><a href="https://www.facebook.com/"
												class="fa fa-facebook"></a></li>
											<li><a href="https://www.twitter.com/"
												class="fa fa-twitter"></a></li>
											<li><a href="https://www.linkedin.com/"
												class="fa fa-linkedin"></a></li>
											<li><a href="https://www.youtube.com/"
												class="fa fa-youtube"></a></li>
											<li><a href="https://www.vimeo.com/" class="fa fa-vimeo"></a></li>
										</ul>
									</div>
								</div>
							</div>

							<form th:action="@{'/events/' + ${event.id}}" th:method="delete">
								<a th:href="@{'/events/add'}" class="btn btn-main mr-6"> Add
								</a> <a th:href="@{'/events/update/' + ${event.id}}"
									class="btn btn-main mr-6">Update</a>
								<button th:type="submit" class="btn btn-main mr-6"
									onclick=" return confirm('Are you sure you want to Remove?');">
									Delete</button>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!--// Main Section \\-->



		</div>
	</div>


	<th:block th:replace="~{layouts/master::footer}" />
	<th:block th:include="~{layouts/master::js}" />
</body>
</html>